/* =============================
      Overall Styles

body {
  text-align: center;
  background-image: linear-gradient(#131313 80%, #CE4223);
  background-attachment: fixed; 
  color: #EAEAEA;
  font-family: 'Titillium Web', sans-serif;
  margin: 0 auto;
}

*/

* {
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 100%, repeat(5, 1fr);
  grid-template-rows: 100px 1fr;
}

body {
  font-family: 'Titillium Web', sans-serif;
  background-color: #131313;
}

/* .input-group {
  margin: 25px;
}

.recharts-wrapper {
  margin: 0 auto;
} */

/* .movie-list-grid {
  margin: 2em;
  display: grid; 
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
}

.movie-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 300px;
  margin-right: 70px;
  margin-left: 70px;
  color: #EAEAEA;
}

/* ==================================== 
        Movie Detail Styles      
===================================== */
/* 
.poster {
  padding-top: 30px;
  grid-column: 2;
} */
/* 
.ratings {
  margin-top: 30px;
  grid-column: 3;
  border: 1px solid black;
  padding-right: 200px;
  width: 150px;
} */

/* =====================================
         Navigation Styles
====================================== */

nav {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #212121;
  /* width: 100%;
  background-color: #363535; */
}

.logo-container {
  display: flex;
  justify-content: center;
  padding-left: 100px;
}

.logo-container > div {
  padding: 10px;
}

.logo-container > div:last-child {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
}

.Albrey {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  padding-right: 35px;
}

nav div a:hover {
  color: #CE4223;
  text-decoration: none;
}

.logo {
  flex: 1;
  height: auto;
  width: 60px;
  display: inline-block;
}

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


