body {
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}

.input-group {
  margin: 25px;
}

.recharts-wrapper {
  margin: 0 auto;
}

.movie-list-grid {
  margin: 2em;
  display: grid; 
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
}

.movie-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 300px;
  margin-right: 70px;
  margin-left: 70px;
}

/* ==================================== 
        Movie Detail Styles      
===================================== */

.poster {
  padding-top: 30px;
  grid-column: 2;
}

.ratings {
  margin-top: 30px;
  grid-column: 3;
  border: 1px solid black;
  padding-right: 200px;
  width: 150px;
}

/* =====================================
         Navigation Styles
====================================== */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #131313;
}

li {
  float: left;
  border-right:1px solid #363535;
}

li a {
  display: block;
  color: #E57850;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

li:last-child {
  float: right;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: #CE4223;
  text-decoration: none;
}

.logo {
  height: auto;
  width: 60px;
  display: inline-block;
}
